@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #18181b;
}

.portfolio-div {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 225px;
  width: 400px;
}

.hover-div:hover {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  )!important;
}

.project-div{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 150px;
  max-height: 500px;
}